<!doctype html>
<title>{% block title %}{% endblock %} - VMAC Payroll</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('upload_form')}}">VMAC</a>
    <ul class="navbar-nav mr-auto">
         <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('upload_form')}}">Upload <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('paystubs')}}">Paystubs <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('prices')}}">Prices <span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<section class="content">
   <div class="container">
    <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
    </div>
</section>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script type="text/javascript">
    $( '.navbar-nav a' ).on( 'click', function () {
	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>

{% block scripts %}{% endblock %}
