{% extends 'base.html' %}

{% block header %}
<style type="text/css">
    .card-header{
        cursor: pointer;
    }

  </style>
<div class="row">
    <div class="col">
        <h1>{% block title %}Unpaid{% endblock %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}



<div class="accordion" id="accordionExample">

    {% for key, value in tables.items() %}
        {% set id = key.replace(' ','').replace('/','').replace('&','') %}

        <div class="card">

            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true" aria-controls="{{id}}">


                  {{ key }}


            </div>

            <div id="{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                {{ value |safe}}
                </div>
            </div>
        </div>

    {% endfor %}


</div>



{% endblock content %}

{% block scripts %}
<script src="../../static/js/jquery.tabletojson.min.js"></script>
<script style="text/javascript">



</script>

{% endblock scripts %}

