{% extends 'base.html' %}

{% block header %}
<div class="row">
    <div class="col">
        <h1>{% block title %}Unpaid{% endblock %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}


<!--{{tables|safe}}-->



<div class="accordion" id="accordionExample">

    {% for key, value in tables.items() %}
        {% set id = key.replace(' ','').replace('/','') %}
        <h1> {{x}}</h1>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true" aria-controls="{{id}}">
                  {{ key }}
                </button>
                </h5>
            </div>

            <div id="{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                {{ value |safe}}
                </div>
            </div>
        </div>

    {% endfor %}


</div>



{% endblock content %}

{% block scripts %}
<script src="../../static/js/jquery.tabletojson.min.js"></script>
<script style="text/javascript">



</script>

{% endblock scripts %}
