# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#VS
.vs
.vscode
settings.json

#python stuff
__pycache__

#generated output
backend/allInstructorsCSVs/
backend/.idea/workspace.xml
backend/venv/pyvenv.cfg
backend/venv/lib64
backend/instructorDances/
backend/output/
.idea/workspace.xml
backend/lookupTables/.DS_Store
backend/MindBodyPayroll/uploads/*
backend/dataProcessing/raw/*
backend/dataProcessing/dat/
backend/dataProcessing/tmp/*
.idea/workspace.xml
.idea/workspace.xml
backend/.DS_Store
unknown-0.0-py37_0.tar.bz2
backend/MindBodyPayroll/.DS_Store
backend/lookupTables/.DS_Store
backend/dataProcessing/dat/00-01-Class-All.csv

.idea/MindBodyPayroll.iml

.idea/misc.xml

backend/MindBodyPayroll/db/payroll.db

.idea/
