[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pdfkit = "*"
pandas = "*"
numpy = "*"
flask = "*"
wtforms = "*"
wkhtmltopdf = "*"
xmlx = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
uwsgi = "*"
intuit-oauth = "*"

[requires]
python_version = "3.7"
