<!doctype html>
<link rel="shortcut icon" href="#" />
<script src="../static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<title>{% block title %}{% endblock %} - VMAC Payroll</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('instructions')}}">VMAC</a>
    <ul class="navbar-nav mr-auto">
         <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('upload_form')}}">Upload</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('paystubs')}}">Paystubs</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('prices')}}">Prices</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('classes')}}">Classes</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('unpaid')}}">Unpaid</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('instructions')}}">Instructions</a>
        </li>
    </ul>
</nav>
<section class="content">
   <div class="container" style="margin-bottom:100px;">
        <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
</section>
<script type="text/javascript">
    $( '.navbar-nav a' ).on( 'click', function () {
	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>


{% block scripts %}{% endblock %}
