{% extends 'base.html' %}

{% block header %}
<style type="text/css">
    .card-header{
        cursor: pointer;
    }

  </style>
<div class="row">
    <div class="col">
        <h1>{% block title %}Unpaid Classes{% endblock %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}

{% if tables %}

<div class="accordion" id="accordionExample">


    {% for key, value in tables.items() %}

        <div class="card">

            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#a{{loop.index}}" aria-expanded="true" aria-controls="a{{loop.index}}">

                  {{ key }}

            </div>

            <div id="a{{loop.index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                {{ value |safe}}
                </div>
            </div>
        </div>

    {% endfor %}


</div>

{% else %}
    All classes are paid for! <a href="/paystubs/">Continue to the Paystubs page.</a>
{% endif %}



{% endblock content %}

{% block scripts %}
<script src="../../static/js/jquery.tabletojson.min.js"></script>
<script style="text/javascript">



</script>

{% endblock scripts %}

