# Need to cp this file to /etc/systemd/system/vmac.service
# cp vmac.service /etc/systemd/system/vmac.service
# sudo systemctl start vmac
# sudo systemctl enable vmac
#
# Above commands will start the uWSGI service
# and enable it so that it starts at boot

[Unit]
Description=uWSGI instance to serve vmac
After=network.target

[Service]
User=powellmarshall3_gmail_com
Group=www-data
# UPDATE BELOW ACCORDING TO PIPENV OR VENV LOCATION OF uwsgi BINARY ON UBUNTU VM
WorkingDirectory=/home/powellmarshall3_gmail_com/mindbody-payroll/backend/MindBodyPayroll
Environment="PATH=/home/powellmarshall3_gmail_com/.local/share/virtualenvs/mindbody-payroll-QehZ7jMr/bin/uwsgi"
ExecStart=/home/powellmarshall3_gmail_com/.local/share/virtualenvs/mindbody-payroll-QehZ7jMr/bin/uwsgi --ini vmac.ini
[Install]
WantedBy=multi-user.target
