{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Details{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method = "POST">
        <div class="form-group">
            {{form.amount.label}} {{form.amount(class="form-control") }}
        </div>
        <div class="form-group">
        {{form.description.label }} {{form.description(class="form-control") }}
        </div>
         <p><input type = "submit" value = "submit" /></p>
    </form>
</div>
{{paystub|safe}}


{% endblock %}