{% extends 'base.html' %}

{% block header %}
<div class="row">
    <div class="col">
        <h1>{% block title %}{{form.instructor.data}}{% endblock %}</h1>
    </div>
    <div class="col text-right">
        <h1 class="align-right">Total: {{form.total.data}}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card bg-light mb-3">
    <div class="card-body">
        <h5 class="card-title">Adjustments (+/-)</h5>
        <div class="card-text">
        <form action="" method = "POST">
            <div class="row">
                <div class="col-2">
                    {{form.amount(class="form-control",placeholder="$0.00") }}
                </div>
                <div class="col-8">
                    {{form.description(class="form-control", placeholder="Description") }}
                </div >
            <div class="col">
                <input type = "submit"  class="btn btn-primary" value = "Submit" />
            </div>
            </div>
            {{form.instructor}}
        </form>
        </div>
    </div>
</div>


        {{paystub|safe}}



{% endblock %}