{% extends 'base.html' %}

{% block header %}
<div class="row mt-2 justify-content-between">
  <div class="col">
  <h1>{% block title %}Paystubs{% endblock %}</h1>
    </div>
    <div class="col text-right">
  <a id="export" href="{{ url_for('export') }}" class="btn btn-primary btn-lg"> Export </a>
      </div>
</div>
{% endblock %}

{% block content %}


  <div class="list-group">
    {%for i in range(0, len)%}
        <a class="list-group-item list-group-item-action" id="{{i}}" href="{{ url_for('paystubs_detail', id=i) }}">{{paystub_list[i]}}</a>
    {%endfor%}

    </div>
{% endblock %}
